html, body {
    font-family: Consolas, monaco, monospace;
    text-align: center;
    box-sizing: border-box;
}
body {
    margin: 10px;
}
#all {
    display: none;
    height: 100%;
}
.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul li {
    list-style-type: none;
    border-bottom: 1px solid #888;
    padding: 10px 0;
    font-size: 10px;
    line-height: 12px;
}
ul {
    padding-left: 0;
}
.bt {
    height:20px;
}
input[type="number"] {
    height: 30px;
    border: none;
    border: 1px solid #17a2b8;
}
.col > * {
    width: 100%;
    font-size: 11px;
    box-shadow: 0 0 6px 0#aaa;
    border-radius: 0;
}
.row {margin: 0;}
.col {
    padding: 0 5px;
    margin: 15px 0;
}
#map {
    height: 100%;
    min-height: 450px;
    box-shadow: 0 0 10px #666;
    margin-bottom: 10px;
}
#route-name {
    position:absolute;
    top:10px; 
    width: 100%;
    text-transform: uppercase;
}
.notification {
    font-size: 11px;
    padding: 5px;
}
.notification {
    margin: 0;
}
#loader {
    position:absolute;
    width:50px;
    height:50px;
    z-index: 99;
    margin-top: -25px; /*half of height*/
    margin-left: -25px; /*half of width*/
    left:50%;
    top:50%;
    border-right:2px solid #000;
    border-radius:50%;
    animation: rot 0.7s linear infinite;
}

@-webkit-keyframes rot { 
    to { 
        -webkit-transform: rotate(360deg);
         transform: rotate(360deg); 
    } 
}
@keyframes rot { 
    to { 
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg); 
    } 
}