@font-face {
    font-family: mojfont;
    src: url("fonts/Raleway-Regular.ttf");
}
html, body {
    height: 100%;
    font-family: Consolas, monaco, monospace;
    text-align: center;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.info {
    background-color: #ddddff;
    border-left: 6px solid #439afd;
    font-size: 13px;
    margin-bottom: 10px;
}
/* SIDEBAR */
.wrapper {
    font-family: mojfont, 'serif';
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.7em;
    color: #999;
    display: flex;
    align-items: stretch;
}

#content {
    color: #000;
}
#sidebar {
    position: relative;
    z-index: 20;
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background: rgb(220, 220, 220);
    background: linear-gradient(left, rgb(220, 220, 220), #fff);
    background: -webkit-linear-gradient(left, rgb(220, 220, 220), #fff, rgb(220, 220, 220));
    color: #000;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    text-align: center;
    padding: 25px;
    box-shadow: inset 0 0 10px #aaa;
    background: rgb(255, 234, 112);
}
#sidebar.active {
    margin-left: -200px;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.components .list-unstyled {
    text-align: right;
}
.list-unstyled a {
    padding: 20px;
}
#sidebarCollapse {
    z-index: 20;
    padding: 5px 10px;
    padding-top: 3px;
    margin-top: -5px;
    margin-left: -25px;
    background-color: rgb(255, 245, 226);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 20px;
}
#menu {
    transition: all .3s;
}
#pageSubmenu > li a {
    width: 100%;
    color: rgb(150, 52, 28);
}
#admin > * {
    margin: 1%;
}
#admin-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#admin-img {
    width:30px; 
    height:30px;
    background:#faa; 
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #aaa;
    box-shadow: inset 0 0 5px #555;
}
.b {
    height: 25px;
    font-size: 10px;
    width: 40%;
}
input[type="number"] {
    height: 25px;
    border: none;
    border-radius: 5px;
    width: 82%;
    border: 1px solid #17a2b8;
}
#busNo {
    height: 35px;
    font-size: 14px;
    border: none;
    border: 1px solid rgb(67, 156, 201);
    border-radius: 2px;
    background: none;
}
.col > * {
    width: 100%;
    font-size: 12px;
    box-shadow: 0 0 6px 0#aaa;
    border-radius: 0;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/* END SIDEBAR */


#all {
    display: none;
    height: 100%;
    width: 100%;
}
.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul li {
    list-style-type: none;
    border-bottom: 1px solid #888;
    padding: 15px 0;
    font-size: 12px;
    line-height: 12px;
}
ul {
    padding-left: 0;
}
ul li:last-child {
    border-bottom: none;
}
.row {margin: 0;}
.col {
    padding: 0 5px;
    margin: 15px 0;
}
.images-slideshow {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}
.images-slideshow img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}
.slides {
    padding: 0;
    display: none;
}
.ui-content {
    height:100%;
    padding: 0; 
    margin: 0;
}
[data-role="page"] {
    height: 100%;
}
.header {
    height: 50px;
    box-shadow: inset 0 0 10px #aaa;
    background: rgb(255, 241, 160);
    padding: 10px;
}
#map {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    min-height: 450px;
    box-shadow: 0 0 10px #666;
    margin-bottom: 10px;
}
#route-name {
    position:absolute;
    z-index: 10;
    top:20px; 
    width: 100%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
#loader {
    position:absolute;
    width:50px;
    height:50px;
    z-index: 99;
    margin-top: -25px; /*half of height*/
    margin-left: -25px; /*half of width*/
    left: 50%;
    top: 50%;
    border-right: 1px solid #000;
    border-radius: 50%;
    animation: rot 0.7s linear infinite;
    display:none;
}

@-webkit-keyframes rot { 
    to { 
        -webkit-transform: rotate(360deg);
         transform: rotate(360deg); 
    } 
}
@keyframes rot { 
    to { 
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg); 
    } 
}
